/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ee444a;
  --ifm-color-primary-dark: #ea2328;
  --ifm-color-primary-darker: #bb1117;
  --ifm-color-primary-darkest: #700a0e;
  --ifm-color-primary-light: #ef575c;
  --ifm-color-primary-lighter: #f37c80;
  --ifm-color-primary-lightest: #f6a2a4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-color-primary-lighter-rgb: 243, 124, 128;

  --ifm-h1-font-size: 3rem;

  --ifm-font-family-base: "Mona Sans", system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  letter-spacing: 0.015rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ef575c;
  --ifm-color-primary-dark: #ee444a;
  --ifm-color-primary-darker: #ea2328;
  --ifm-color-primary-darkest: #bb1117;
  --ifm-color-primary-light: #f37c80;
  --ifm-color-primary-lighter: #f6a2a4;
  --ifm-color-primary-lightest: #fcdadb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-color-primary-lighter-rgb: 243, 162, 164;
}

.navbar__title {
  font-size: 1.2rem;
  font-weight: 900;
  font-stretch: expanded;
}

header > h1 {
  font-stretch: expanded;
}

em,
.lastUpdated_Jt0n {
  font-style: normal !important;
  font-variation-settings: "slnt" -10;
}

.mention {
  color: var(--ifm-color-primary);
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(var(--ifm-color-primary-lighter-rgb), 0.1);
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  pointer-events: none;
}

@layer fonts {
  @font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona-sans.woff2") format("woff2 supports variations"),
      url("../fonts/mona-sans.woff2") format("woff2 variations"),
      url("../fonts/mona-sans.ttf") format("truetype");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
}
